body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #1A237E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-wrap {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  max-width: 400px;
  width: 100%;
  position: relative;
  display: none;
}

.form-wrap.active {
  display: block;
}

.form-wrap h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label .error {
  color: red;
  font-size: 10px;
  margin-bottom: 50px;
}

.checkbox-label input {
  margin-bottom: 9px;
}


.input {
  width: 100%;
  padding: 5px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: #787878;

}

.form-wrap input[type="checkbox"] {
  margin-right: 10px;
}

.form-wrap button {
  margin-top: 20px;
  width: 45%;
  padding: 10px;
  margin-left: 30%;
  background-color: #1A237E;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-wrap button:hover {
  background-color: #0D47A1;
}

.error {
  visibility: hidden;
  color: red;
  font-size: 10px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.field-error {
  color: red;
  border-color: red;
}

.form-switch {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #1A237E;
}

.form-switch:hover {
  text-decoration: underline;
}